
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>xuly</title>
</head>
<body>
    <div> 
        <table border="1">
            <tr>
                <td>Ma sv:</td>
                <td>@ViewBag.Ma</td>
            </tr>
            <tr>
                <td>ten sv:</td>
                <td>@ViewBag.Ten</td>
            </tr>
            <tr>
                <td>diem sv:</td>
                <td>@ViewBag.Diem</td>
            </tr>
        </table>
    </div>
</body>
</html>
